<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All The Food</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>All The Food</header>
      <nav>
        <ul>
          <li><a href="/create">Make a Booking</a></li>
          <li><a href="/find">Find a Booking</a></li>
        </ul>
      </nav>

  <main>

    <section id="content">
      <%= yield %>
    </section>

  </main>

  <footer></footer>
  </body>
</html>
