<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Chicken Shack</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>The Chicken Shack</header>
      <nav>
        <ul>
          <li><a href="/create">Make a Booking</a></li>
          <li><a href="/find">Update a Booking</a></li>
          <li><a href="/find">Find a Booking</a></li>
          <li><a href="/see">See all Bookings</a></li>
        </ul>
      </nav>

  <main>

    <section id="content">
      <%= yield %>
    </section>

  </main>

  <footer></footer>
  </body>
</html>
