<h1>Please fill in the details below</h1>

<form action="/" method="post">

  <label for="first-name-field"></label>
  <input type="text" name="" value="">

  <label for="last-name-field"></label>
  <input type="text" name="" value="">

  <label for="email"></label>
  <input type="text" name="" value="">

  <label for="phone_number"></label>
  <input type="text" name="" value="">



</form>
