<h1>Search For Booking</h1><br/><br/>

<form action="/display_booking" method="post">

  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" value=""><br/><br/>

  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" value=""><br/><br/>

  <label for="restaurant">Select Your Restaurant</label>
  <select id="restaurant-selection" name="restaurant">
    <option value="The Chicken Shack">The Chicken Shack</option>
    <option value="The Burger Bar">The Burger Bar</option>
    <option value="The Pizza Palace">The Pizza Palace</option>
  </select><br/><br/><br/>

  <input type="submit" value="Find Booking">

</form>
